<h1>RoutineRing</h1>

<%= link_to 'Create New Routine', new_routine_path %>
<!-- ルーティンの一覧表示 -->
<ul>
  <% @routines.each do |routine| %>
    <li>
      <a href="/routines/<%= routine.id %>">
        <%= routine.title %>
      </a>
    </li>
  <% end %>
</ul>
